facebookbackend/WebContent/wsdl/Signup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://signup" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://signup" xmlns:intf="http://signup" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://signup" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validate">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="gender" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateResponse">
    <complexType>
     <sequence>
      <element name="validateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInterest">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInterestResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getInterestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAbout">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAboutResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAboutReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addInterest">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="interest" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addInterestResponse">
    <complexType>
     <sequence>
      <element name="addInterestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeInterest">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="interest" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeInterestResponse">
    <complexType>
     <sequence>
      <element name="removeInterestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addNews">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="news" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addNewsResponse">
    <complexType>
     <sequence>
      <element name="addNewsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFriend">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFriendResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getFriendReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="respondFriend">
    <complexType>
     <sequence>
      <element name="femail" type="xsd:string"/>
      <element name="temail" type="xsd:string"/>
      <element name="value" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="respondFriendResponse">
    <complexType>
     <sequence>
      <element name="respondFriendReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNews">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNewsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getNewsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editAbout">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="occupation" type="xsd:string"/>
      <element name="dob" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editAboutResponse">
    <complexType>
     <sequence>
      <element name="editAboutReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFriend">
    <complexType>
     <sequence>
      <element name="femail" type="xsd:string"/>
      <element name="temail" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFriendResponse">
    <complexType>
     <sequence>
      <element name="addFriendReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFriendrequest">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFriendrequestResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getFriendrequestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addFriendRequest">

      <wsdl:part element="impl:addFriend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInterestRequest">

      <wsdl:part element="impl:getInterest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAboutResponse">

      <wsdl:part element="impl:getAboutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFriendrequestResponse">

      <wsdl:part element="impl:getFriendrequestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeInterestResponse">

      <wsdl:part element="impl:removeInterestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addInterestRequest">

      <wsdl:part element="impl:addInterest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateRequest">

      <wsdl:part element="impl:validate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editAboutResponse">

      <wsdl:part element="impl:editAboutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNewsResponse">

      <wsdl:part element="impl:getNewsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNewsRequest">

      <wsdl:part element="impl:addNews" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNewsRequest">

      <wsdl:part element="impl:getNews" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addInterestResponse">

      <wsdl:part element="impl:addInterestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="respondFriendResponse">

      <wsdl:part element="impl:respondFriendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNewsResponse">

      <wsdl:part element="impl:addNewsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInterestResponse">

      <wsdl:part element="impl:getInterestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editAboutRequest">

      <wsdl:part element="impl:editAbout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFriendResponse">

      <wsdl:part element="impl:getFriendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAboutRequest">

      <wsdl:part element="impl:getAbout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateResponse">

      <wsdl:part element="impl:validateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeInterestRequest">

      <wsdl:part element="impl:removeInterest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFriendResponse">

      <wsdl:part element="impl:addFriendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFriendrequestRequest">

      <wsdl:part element="impl:getFriendrequest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFriendRequest">

      <wsdl:part element="impl:getFriend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="respondFriendRequest">

      <wsdl:part element="impl:respondFriend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Signup">

      <wsdl:operation name="validate">

         <wsdl:input message="impl:validateRequest" name="validateRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateResponse" name="validateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInterest">

         <wsdl:input message="impl:getInterestRequest" name="getInterestRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInterestResponse" name="getInterestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAbout">

         <wsdl:input message="impl:getAboutRequest" name="getAboutRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAboutResponse" name="getAboutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addInterest">

         <wsdl:input message="impl:addInterestRequest" name="addInterestRequest">

       </wsdl:input>

         <wsdl:output message="impl:addInterestResponse" name="addInterestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeInterest">

         <wsdl:input message="impl:removeInterestRequest" name="removeInterestRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeInterestResponse" name="removeInterestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addNews">

         <wsdl:input message="impl:addNewsRequest" name="addNewsRequest">

       </wsdl:input>

         <wsdl:output message="impl:addNewsResponse" name="addNewsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFriend">

         <wsdl:input message="impl:getFriendRequest" name="getFriendRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFriendResponse" name="getFriendResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="respondFriend">

         <wsdl:input message="impl:respondFriendRequest" name="respondFriendRequest">

       </wsdl:input>

         <wsdl:output message="impl:respondFriendResponse" name="respondFriendResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNews">

         <wsdl:input message="impl:getNewsRequest" name="getNewsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNewsResponse" name="getNewsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editAbout">

         <wsdl:input message="impl:editAboutRequest" name="editAboutRequest">

       </wsdl:input>

         <wsdl:output message="impl:editAboutResponse" name="editAboutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFriend">

         <wsdl:input message="impl:addFriendRequest" name="addFriendRequest">

       </wsdl:input>

         <wsdl:output message="impl:addFriendResponse" name="addFriendResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFriendrequest">

         <wsdl:input message="impl:getFriendrequestRequest" name="getFriendrequestRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFriendrequestResponse" name="getFriendrequestResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SignupSoapBinding" type="impl:Signup">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInterest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInterestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInterestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAbout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAboutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAboutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addInterest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addInterestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addInterestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeInterest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeInterestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeInterestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addNews">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNewsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addNewsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFriend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFriendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFriendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="respondFriend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="respondFriendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="respondFriendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNews">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNewsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNewsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editAbout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editAboutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editAboutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addFriend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFriendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addFriendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFriendrequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFriendrequestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFriendrequestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SignupService">

      <wsdl:port binding="impl:SignupSoapBinding" name="Signup">

         <wsdlsoap:address location="http://localhost:8080/facebookbackend/services/Signup"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
